section#options {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    padding: 1% 1% 4% 1%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    border: 0;
    pointer-events: hidden;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    z-index: -1;
}

section#options a {
    position: relative;
}

div.box_options {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: scroll;
    -webkit-transform: translateY(-3000px);
    -moz-transform: translateY(-3000px);
    -ms-transform: translateY(-3000px);
    -o-transform: translateY(-3000px);
    transform: translateY(-3000px);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

div.box_options.minimise {
    height: 10%;
    width: 50%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

div.box_options h1 {
    float: left;
    width: 40%;
    padding: 5px 0 10px 5px;
}

div.box_options button {
    float: right;
    width: 15%;
    border: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 15px 5px 0 0;
    padding: .5px 0 1px;
    background-color: #4cc185;
    color: whitesmoke;
    cursor: pointer;
}

div.box_options button:nth-child(2) {
    background-color: #f2664e;
}

div.box_options button:nth-child(4) {
    background-color: #fff899;
    color: #666;
}

nav.layouts {
    width: 100%;
    clear: both;
    text-align: center;
    padding: 15px 6% 0 6%;
    border-top: 1px solid #898989;
}

nav.layouts ul {
    position: relative;
    overflow: hidden;
}

nav.layouts ul h4 {
    position: absolute;
    top: 160px;
    width: 100%;
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;
    padding: 10px 0 15px 0;
    background: -webkit-radial-gradient(circle,white,transparent);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

nav.layouts ul h4.show{
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

ul li.design {
    width: 40%;
    display:inline-block;
    margin-right: 4%;
    margin-bottom: 20px;
}

ul li.design.expand{
  width: 90%;
}

ul li.design.hide {
    display:none;
}

ul li.design img {
    width: 100%;
}

ul li.design ul {
    padding: 0 10% 0 10%;
    margin-top: 80px;
    display:none;
}

ul li.design ul.show{
  display: block;
}

ul li.design.last ul ul{
  margin-top:0;
  padding:0 3px 0 0;
  width: 50%;
  float: left;
  font-size:0.9em;
}

ul li.design ul li {
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

ul li.design ul li:before {
    display: block;
    padding: 5px 0;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4cc185;
    width: 1px;
    height: 1px;
    margin: 0 auto;
    margin-top: 15px;
}

ul li.design ul li a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

ul li.design ul li a:hover {
    opacity: .5;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

ul li.design ul li span {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    bottom: 0;
    border-top: 1px solid #e6e6e6;
}

ul li span.active:after {
    display: block;
    width: 10px;
    height: 10px;
    content: '';
    background-color: #4cc185;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    right: -2px;
    top: 17px;
}

ul li span.active:before {
    display: block;
    width: 15px;
    height: 15px;
    content: '';
    border: 2px solid rgba(255,255,255,0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    right: -5px;
    top: 13px;
    background: #4cc185;
    opacity: .8;
}

section#options.show {
    opacity: 1!important;
    pointer-events: auto;
    z-index: 10!important;
}

section#options.show.min {
    background: rgba(0,0,0,0);
}

.margin {
    -webkit-transform: translateY(0)!important;
    -moz-transform: translateY(0)!important;
    -ms-transform: translateY(0)!important;
    -o-transform: translateY(0)!important;
    transform: translateY(0)!important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.margin.shrink{
  width: 20% !important;
  float:right;
}

ul.project_nav_second {
    display: none;
}

div.sidebar h1.logo:nth-child(2) {
    display: none;
}

div.sidebar h1.logo:nth-child(3) {
    display: none;
}

section.main div.megaman:nth-child(2) {
    display: none;
}

section.main nav.project_navigation {
    display: none;
}

section.contact h1:nth-child(2) {
    display: none;
}

section.about p:nth-child(2) {
    display: none;
}

section.about div.lastLine p,section.about div.nextLine p {
    display: block;
}

div.sidebar h4.portfolio:last-child {
    display: none;
}

nav.main li:first-child {
    display: none;
}

div.loading_div {
    margin: 20% 40%;
}

* {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

div.image_description_two {
    display: none;
}