/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*{
box-sizing:border-box;
padding:0;
margin:0;
}
html, body{
height:100%;
/* IE6: treated as min-height*/
width:100%;
}
html,
button,
input,
select,
textarea{
color:#363636;
}
body{
font-size:1em;
line-height:1.4;
font-family:'Crimson Text', serif;
font-weight:400;
overflow:hidden;
padding:30px;
background:white url('../images/bck_texture.png') repeat;
border:30px solid rgb(227, 238, 255);
}
a{
text-decoration:none;
color:#444;
}
li{
list-style:none;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::selection{
background:#b3d4fc;
text-shadow:none;
}
::selection{
background:#b3d4fc;
text-shadow:none;
}
/*
 * A better looking default horizontal rule
 */

hr{
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img{
vertical-align:middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset{
border:0;
margin:0;
padding:0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea{
resize:vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe{
margin:0.2em 0;
background:#ccc;
color:#000;
padding:0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.sidebar.newPosition{
padding:0;
top:25px;
left:88px;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
width:14%;
}
div.sidebar.newPosition nav.main{
width:100%;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
}
div.sidebar.newPosition nav.main li{
float:none;
height:80px;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
}
div.sidebar.newPosition nav.main li:first-child h3:after{
opacity:0;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
}
div.sidebar.newPosition nav.main li:nth-child(2) a:after{
opacity:0;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
}
div.sidebar.newPosition nav.main li:last-child a:after{
opacity:0;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
}
div.sidebar{
position:absolute;
width:91%;
top:130px;
z-index:2;
padding-left:37.5%;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
}
div.side_shadow{
display:none;
}
div.containing_circles{
display:none;
}
header{
display:none;
}
nav.main{
width:25%;
font-size:0.7em;
line-height:2em;
text-align:center;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
}
.active a{
color:#04bff3 !important;
}
nav.main li{
width:50%;
height:100px;
float:left;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
}
nav.main li a{
text-transform:uppercase;
/*transition*/
-webkit-transition:all 0.6s;
   -moz-transition:all 0.6s;
     -o-transition:all 0.6s;
        transition:all 0.6s;
position:relative;
}
nav.main li:first-child{
display:block !important;
}
nav.main h3.title{
text-transform:none;
text-decoration:underline;
font-weight:400;
position:relative;
text-align:center;
font-size:1.1em;
cursor:pointer;
}
nav.main li:first-child h3:before{
content:'k';
color:transparent;
background:url('../images/plainLogo.svg') center no-repeat;
/*background-size*/
-webkit-background-size:250%;
   -moz-background-size:250%;
     -o-background-size:250%;
        background-size:250%;
font-family:'Arvo', serif;
border-bottom:3px solid transparent;
font-size:3.5em;
display:block;
width:60%;
padding-bottom:10px;
margin:0 20% 5px 20%;
float:left;
}
nav.main li:first-child h3:after{
content:'';
width:1px;
background-color:#666;
height:250px;
position:absolute;
top:-10px;
right:-7px;
}
nav.main li:nth-child(2) a:before{
content:'a';
font-family:'Arvo', serif;
border-bottom:3px solid #444;
font-size:3.5em;
display:block;
width:60%;
padding-bottom:10px;
margin:0 20% 5px 20%;
float:left;
}
nav.main li:nth-child(2) a:after{
content:'';
width:200px;
background-color:#666;
height:1px;
/*transform*/
-webkit-transform:rotate(-10deg);
   -moz-transform:rotate(-10deg);
    -ms-transform:rotate(-10deg);
     -o-transform:rotate(-10deg);
        transform:rotate(-10deg);
position:absolute;
top:30px;
right:-40px;
}
nav.main li:nth-child(3) a:before{
content:'w';
font-family:'Arvo', serif;
border-bottom:3px solid #444;
font-size:3.5em;
display:block;
width:60%;
padding-bottom:10px;
margin:0 20% 5px 20%;
float:left;
}
nav.main li:last-child a:before{
content:'c';
font-family:'Arvo', serif;
border-bottom:3px solid #444;
font-size:3.5em;
display:block;
width:60%;
margin:0 20% 5px 20%;
float:left;
padding-bottom:10px;
}
nav.main li:last-child a:after{
content:'designer | portfolio';
position:absolute;
bottom:-110px;
width:200px;
left:-105px;
}
nav.main li a:hover{
color:#04bff3;
text-decoration:underline;
/*transition*/
-webkit-transition:all 0.6s;
   -moz-transition:all 0.6s;
     -o-transition:all 0.6s;
        transition:all 0.6s;
}
@keyframes fade{
from { opacity: 0; }
     to   { opacity: 1; }
}
div.loading_div{
width:150px;
height:150px;
margin:30% 45%;
text-align:center;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
background:white url(../images/loadinfo.net.gif) center center no-repeat;
position:absolute;
z-index:5;
opacity:0;
pointer-events:none;
/*transform*/
-webkit-transform:translateX(-550px);
   -moz-transform:translateX(-550px);
    -ms-transform:translateX(-550px);
     -o-transform:translateX(-550px);
        transform:translateX(-550px);
/*transition*/
-webkit-transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
     -o-transition:all 0.3s ease;
        transition:all 0.3s ease;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
        box-shadow:0 1px 3px rgba(0,0,0,0.8);
}
div.loading_div.test{
opacity:1;
/*transform*/
-webkit-transform:translateX(0);
   -moz-transform:translateX(0);
    -ms-transform:translateX(0);
     -o-transform:translateX(0);
        transform:translateX(0);
/*transition*/
-webkit-transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
     -o-transition:all 0.3s ease;
        transition:all 0.3s ease;
}
div.holding_div{
width:100%;
height:100%;
/* real browsers */
position:relative;
overflow:hidden;
padding:30px;
background:white url('../images/bck_swirl.png') no-repeat;
/*background-size*/
-webkit-background-size:100%;
   -moz-background-size:100%;
     -o-background-size:100%;
        background-size:100%;
}
section{
width:100%;
height:100%;
/* real browsers */
position:relative;
overflow:auto;
border:3px solid rgb(37,37,37);
}
footer{
width:100%;
text-align:center;
}
footer button{
width:10%;
}
footer span{
display:none;
}
/*Contact*/

section.contact h1{
width:100%;
text-align:center;
margin-top:20px;
}
section.contact h1 img{
width:35%;
}
section.contact p{
width:100%;
display:block;
padding:5px;
text-align:center;
position:relative;
}
section.contact p:before{
content:'';
position:absolute;
display:block;
width:20px;
height:20px;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
background-color:whitesmoke;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
        box-shadow:0 1px 3px rgba(0,0,0,0.8);
right:37%;
top:45%;
z-index:5;
}
section.contact p:after{
content:'';
position:absolute;
display:block;
width:10px;
height:10px;
/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
/*linear-gradient*/
background:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0.1)),to(whitesmoke));
background:whitesmoke -webkit-linear-gradient(left,rgba(0,0,0,0.1),whitesmoke);
background:   whitesmoke -moz-linear-gradient(left,rgba(0,0,0,0.1),whitesmoke);
background:     whitesmoke -o-linear-gradient(left,rgba(0,0,0,0.1),whitesmoke);
background:        whitesmoke linear-gradient(left,rgba(0,0,0,0.1),whitesmoke);
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
        box-shadow:0 1px 3px rgba(0,0,0,0.5);
right:37.5%;
top:50%;
z-index:6;
}
section.contact p a{
width:30%;
background-color:white;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
        box-shadow:0 1px 3px rgba(0,0,0,0.8);
display:block;
margin:0 auto;
padding:10px;
margin-top:20px;
/*transition*/
-webkit-transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
     -o-transition:all 0.3s ease;
        transition:all 0.3s ease;
position:relative;
/*border-radius*/
-webkit-border-radius:5px 5px 0 0;
   -moz-border-radius:5px 5px 0 0;
        border-radius:5px 5px 0 0;
}
section.contact p a:before{
content:'';
position:absolute;
display:block;
width:10px;
height:40px;
background:rgb(242,102,78);
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
        box-shadow:0 1px 3px rgba(0,0,0,0.5);
right:9%;
top:-70%;
z-index:4;
/*transform*/
-webkit-transform:rotate(-10deg);
   -moz-transform:rotate(-10deg);
    -ms-transform:rotate(-10deg);
     -o-transform:rotate(-10deg);
        transform:rotate(-10deg);
/*transition*/
-webkit-transition:all 0.6s ease-in-out;
   -moz-transition:all 0.6s ease-in-out;
     -o-transition:all 0.6s ease-in-out;
        transition:all 0.6s ease-in-out;
}
section.contact p a:after{
content:'';
position:absolute;
display:block;
width:30px;
height:20px;
background:rgb(242,102,78);
right:5%;
top:-119%;
z-index:4;
/*border-radius*/
-webkit-border-radius:3px 10px 3px 0;
   -moz-border-radius:3px 10px 3px 0;
        border-radius:3px 10px 3px 0;
/*transform*/
-webkit-transform:rotate(-10deg);
   -moz-transform:rotate(-10deg);
    -ms-transform:rotate(-10deg);
     -o-transform:rotate(-10deg);
        transform:rotate(-10deg);
/*transition*/
-webkit-transition:all 0.6s ease-in-out;
   -moz-transition:all 0.6s ease-in-out;
     -o-transition:all 0.6s ease-in-out;
        transition:all 0.6s ease-in-out;
}
section.contact p a:hover{
color:#04bff3;
/*transition*/
-webkit-transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
     -o-transition:all 0.3s ease;
        transition:all 0.3s ease;
}
section.contact p a:hover:before{
/*transform*/
-webkit-transform:rotate(-70deg);
   -moz-transform:rotate(-70deg);
    -ms-transform:rotate(-70deg);
     -o-transform:rotate(-70deg);
        transform:rotate(-70deg);
/*transform-origin*/
-webkit-transform-origin:5px 45px;
   -moz-transform-origin:5px 45px;
    -ms-transform-origin:5px 45px;
     -o-transform-origin:5px 45px;
        transform-origin:5px 45px;
/*transition*/
-webkit-transition:all 0.6s ease-in-out;
   -moz-transition:all 0.6s ease-in-out;
     -o-transition:all 0.6s ease-in-out;
        transition:all 0.6s ease-in-out;
}
section.contact p a:hover:after{
/*transform*/
-webkit-transform:rotate(-70deg);
   -moz-transform:rotate(-70deg);
    -ms-transform:rotate(-70deg);
     -o-transform:rotate(-70deg);
        transform:rotate(-70deg);
/*transform-origin*/
-webkit-transform-origin:15px 60px;
   -moz-transform-origin:15px 60px;
    -ms-transform-origin:15px 60px;
     -o-transform-origin:15px 60px;
        transform-origin:15px 60px;
/*transition*/
-webkit-transition:all 0.6s ease-in-out;
   -moz-transition:all 0.6s ease-in-out;
     -o-transition:all 0.6s ease-in-out;
        transition:all 0.6s ease-in-out;
}
section.contact div.containing_circles{
width:10%;
margin:0 auto;
text-align:center;
}
/*Contact*/

/*About*/

section.about p{
display:block;
width:100%;
text-align:center;
}
section.about p img{
width:15%;
margin-top:15px;
}
section.about div{
width:100%;
padding:2% 5%;
position:relative;
text-align:center;
}
section.about div.firstLine span{
color:rgb(137,107,203);
}
section.about div.hasClasses div{
width:12%;
display:inline-block;
padding:0;
}
section.about div.hasClasses div img{
width:100%;
/*border-radius*/
-webkit-border-radius:100px;
   -moz-border-radius:100px;
        border-radius:100px;
}
section.about div.hasClasses div span{
position:absolute;
display:block;
width:100%;
bottom:-35px;
background-color:white;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
        box-shadow:0 1px 3px rgba(0,0,0,0.8);
padding:2px;
font-size:1em;
}
section.about div.hasClasses div.plusSign{
width:3%;
font-size:3em;
font-weight:bold;
color:#04bff3;
display:inline-block;
}
section.about div.hasClasses span.bracket{
font-size:9em;
position:absolute;
top:-23%;
}
section.about div.nextLine h1{
padding:2%;
}
section.about div.nextLine img{
width:30%;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
        box-shadow:0 1px 3px rgba(0,0,0,0.8);
}
section.about div.nextLine h3{
padding-top:2%;
}
section.about div.nextLine span:first-child, div.lastLine span:first-child{
color:rgb(137,107,203);
}
section.about div.nextLine span, div.lastLine span{
color:#04bff3;
}
section.about div.lastLine h1 span{
color:rgb(137,107,203);
}
section.about div.lastLine img{
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
        box-shadow:0 1px 3px rgba(0,0,0,0.8);
margin:2%;
width:30%;
}
/*About*/

/*Home*/

div.megaman{
display:none;
}
section.main nav.project_navigation.newPosition{
top:10%;
opacity:1;
}
section.main nav.project_navigation{
width:100%;
padding:15px 0 0 0 !important;
position:relative;
display:block !important;
float:none;
position:absolute;
bottom:20px;
opacity:1;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
}
section.main nav.project_navigation ul{
width:60%;
border-top:1px solid rgba(0,0,0,0.2);
border-bottom:1px solid rgba(0,0,0,0.2);
margin:0 auto;
padding-top:25px;
padding-bottom:40px;
}
section.main nav.project_navigation ul li{
width:20%;
display:inline-block;
margin-bottom:0;
margin-right:10px;
position:relative;
/*border-radius*/
-webkit-border-radius:100px;
   -moz-border-radius:100px;
        border-radius:100px;
border:3px solid rgb(204,204,204);
}
section.main nav.project_navigation ul li:last-child{
margin-right:0;
}
section.main nav.project_navigation ul li img{
width:100%;
/*box-shadow*/
-webkit-box-shadow:none;
   -moz-box-shadow:none;
        box-shadow:none;
/*border-radius*/
-webkit-border-radius:100px;
   -moz-border-radius:100px;
        border-radius:100px;
display:block;
margin:0 auto;
}
section.main nav.project_navigation ul li h4{
position:absolute;
text-transform:uppercase;
font-size:0.7em;
font-weight:400;
color:#666;
padding:10px 5px 15px 5px;
width:100%;
background-color:transparent;
/*box-shadow*/
-webkit-box-shadow:none;
   -moz-box-shadow:none;
        box-shadow:none;
bottom:-50px;
}
section.main nav.project_navigation ul li a:hover h4{
border-bottom:1px dotted black;
}
/*Home*/

/*Project Thumbs*/

nav.project_navigation{
width:100%;
padding:4% 4% 4% 4%;
overflow:hidden;
text-align:center;
}
nav.project_navigation ul li{
width:20%;
display:inline-block;
margin-bottom:2%;
/*transition*/
-webkit-transition:opacity 0.6s;
   -moz-transition:opacity 0.6s;
     -o-transition:opacity 0.6s;
        transition:opacity 0.6s;
}
.fadeProjectNav{
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
filter:alpha(opacity=30);
opacity:0.3;
/*transition*/
-webkit-transition:opacity 0.6s;
   -moz-transition:opacity 0.6s;
     -o-transition:opacity 0.6s;
        transition:opacity 0.6s;
}
nav.project_navigation ul li img{
width:85%;
/*box-shadow*/
-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.4);
   -moz-box-shadow:1px 1px 3px rgba(0,0,0,0.4);
        box-shadow:1px 1px 3px rgba(0,0,0,0.4);
/*border-radius*/
-webkit-border-radius:2px 2px 0 0;
   -moz-border-radius:2px 2px 0 0;
        border-radius:2px 2px 0 0;
display:block;
margin:0 auto;
}
nav.project_navigation ul li h4{
font-weight:300;
color:white;
padding:10px 5px 15px 5px;
width:85%;
margin:0 auto;
/*box-shadow*/
-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.4);
   -moz-box-shadow:1px 1px 3px rgba(0,0,0,0.4);
        box-shadow:1px 1px 3px rgba(0,0,0,0.4);
}
nav.project_navigation ul li:nth-child(1) h4{
background-color:#ed038c;
}
nav.project_navigation ul li:nth-child(2) h4{
background-color:#3db878;
}
nav.project_navigation ul li:nth-child(3) h4{
background-color:#0072bc;
}
nav.project_navigation ul li:nth-child(4) h4{
background-color:#a864a9;
}
nav.project_navigation ul li:nth-child(5) h4{
background-color:#04bff3;
}
nav.project_navigation ul li:nth-child(6) h4{
background-color:#754c24;
}
nav.project_navigation ul li:nth-child(7) h4{
background-color:#ee1d23;
}
nav.project_navigation ul li:nth-child(8) h4{
background-color:#f8941b;
}
/*Project page*/

.project_main{
position:relative;
width:100%;
min-height:100%;
text-align:center;
padding-top:20px;
/*perspective*/
-webkit-perspective:1000px;
   -moz-perspective:1000px;
    -ms-perspective:1000px;
     -o-perspective:1000px;
        perspective:1000px;
/*perspective-origin*/
-webkit-perspective-origin:50% 25%;
   -moz-perspective-origin:50% 25%;
    -ms-perspective-origin:50% 25%;
     -o-perspective-origin:50% 25%;
        perspective-origin:50% 25%;
}
.main_image img{
/*transition*/
-webkit-transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
     -o-transition:all 0.3s ease;
        transition:all 0.3s ease;
/*transform-style*/
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
     -o-transform-style:preserve-3d;
        transform-style:preserve-3d;
max-width:95%;
}
.thumb_grid{
position:absolute;
width:70%;
left:15%;
z-index:1000;
top:0;
opacity:0;
pointer-events:none;
margin-top:20px;
/*transform-style*/
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
     -o-transform-style:preserve-3d;
        transform-style:preserve-3d;
/*transition*/
-webkit-transition:all 0.3s ease;
   -moz-transition:all 0.3s ease;
     -o-transition:all 0.3s ease;
        transition:all 0.3s ease;
/*transform*/
-webkit-transform:translateZ(-350px);
   -moz-transform:translateZ(-350px);
    -ms-transform:translateZ(-350px);
     -o-transform:translateZ(-350px);
        transform:translateZ(-350px);
}
.thumb_grid a{
width:33%;
position:relative;
float:left;
padding:15px;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*transition*/
-webkit-transition:0.3s all ease;
   -moz-transition:0.3s all ease;
     -o-transition:0.3s all ease;
        transition:0.3s all ease;
}
.thumb_grid a:hover{
background-color:rgba(240,109,48,0.4);
/*transition*/
-webkit-transition:0.3s all ease;
   -moz-transition:0.3s all ease;
     -o-transition:0.3s all ease;
        transition:0.3s all ease;
}
.thumb_grid img{
width:100%;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
        box-shadow:0 1px 3px rgba(0,0,0,0.8);
}
.image_description{
width:90%;
margin:0 auto;
background-color:white;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.7);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.7);
        box-shadow:0 1px 3px rgba(0,0,0,0.7);
margin-top:20px;
margin-bottom:30px;
padding:5px;
clear:left;
}
.image_description a{
display:block;
float:left;
width:25px;
height:25px;
/*border-radius*/
-webkit-border-radius:15px;
   -moz-border-radius:15px;
        border-radius:15px;
border:1px solid #444;
margin:15px 0 0 5px;
background-color:rgba(76,193,133,0);
position:relative;
/*transition*/
-webkit-transition:0.3s all ease;
   -moz-transition:0.3s all ease;
     -o-transition:0.3s all ease;
        transition:0.3s all ease;
}
.image_description a:before{
position:absolute;
content:'';
display:block;
width:0;
height:0;
border-left:10px solid transparent;
border-right:10px solid transparent;
border-top:10px solid rgba(0,0,0,0.6);
opacity:0;
top:-15px;
}
.image_description a:after{
position:absolute;
content:'Back to projects';
display:block;
background:rgba(0,0,0,0.6);
padding:5px;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
pointer-events:none;
top:-69px;
left:-20px;
opacity:0;
color:whitesmoke;
}
.image_description a:hover{
background-color:rgba(76,193,133,1);
/*transition*/
-webkit-transition:0.3s all ease;
   -moz-transition:0.3s all ease;
     -o-transition:0.3s all ease;
        transition:0.3s all ease;
}
.image_description a:hover:before, a:hover:after{
opacity:1;
}
.image_description h2 span:first-child{
font-weight:300;
color:#444;
}
.image_description span:last-child{
font-weight:300;
font-style:italic;
}
.project_main.grid_view .main_image img{
/*transform*/
-webkit-transform:translateZ(-350px);
   -moz-transform:translateZ(-350px);
    -ms-transform:translateZ(-350px);
     -o-transform:translateZ(-350px);
        transform:translateZ(-350px);
opacity:.6;
}
.project_main.grid_view .thumb_grid{
/*transform*/
-webkit-transform:translateZ(0px);
   -moz-transform:translateZ(0px);
    -ms-transform:translateZ(0px);
     -o-transform:translateZ(0px);
        transform:translateZ(0px);
opacity:1;
pointer-events:auto;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir{
background-color:transparent;
border:0;
overflow:hidden;
/* IE 6/7 fallback */
*text-indent:-9999px;
}
.ir:before{
content:"";
display:block;
width:0;
height:100%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden{
display:none !important;
visibility:hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden{
border:0;
clip:rect(0 0 0 0);
height:1px;
margin:-1px;
overflow:hidden;
padding:0;
position:absolute;
width:1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{
clip:auto;
height:auto;
margin:0;
overflow:visible;
position:static;
width:auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible{
visibility:hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after{
content:" ";
/* 1 */
display:table;
/* 2 */
:;
}
.clearfix:after{
clear:both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix{
*zoom:1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-height: 687px){
section.main nav.project_navigation{
    opacity:0;
pointer-events:hidden;
/*transition*/
-webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
     -o-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
}
}

@media only screen and (max-width: 768px){
body{
      border:10px solid rgb(227, 238, 255);
padding:10px;
}
div.sidebar{
padding-left:0;
top:50px;
}
div.sidebar.newPosition{
top:8px;
width:100%;
left:0;
padding:0 60px;
}
div.sidebar.newPosition nav.main li{
float:left;
width:25%;
}
nav.main{
margin:0 auto;
width:50%;
}
nav.main h3.title{
font-size:1em;
}
div.sidebar.newPosition nav.main li:first-child h3:before{
/*background-size*/
-webkit-background-size:180%;
   -moz-background-size:180%;
     -o-background-size:180%;
        background-size:180%;
font-family:'Arvo', serif;
border-bottom:none;
font-size:2em;
margin:0 20% 5px 20%;
padding-bottom:0;
}
div.sidebar.newPosition nav.main li:nth-child(2) a:before{
border-bottom:none;
font-size:2em;
margin:0 20% 5px 20%;
padding-bottom:0;
}
div.sidebar.newPosition nav.main li:nth-child(3) a:before{
border-bottom:none;
font-size:2em;
padding-bottom:0;
margin:0 20% 5px 20%;
}
div.sidebar.newPosition nav.main li:last-child a:before{
border-bottom:none;
font-size:2em;
padding-bottom:0;
margin:0 20% 5px 20%;
}
div.loading_div{
width:20%;
height:20%;
margin:20% 40%;
}
div.holding_div{
padding:10px;
}
nav.project_navigation{
padding:2%;
}
nav.project_navigation ul li{
width:32%;
margin-bottom:2%;
}
nav.project_navigation ul li img{
width:100%;
}
nav.project_navigation ul li h4{
width:100%;
font-size:0.8em;
padding:5px 0 7px 0;
}
.thumb_grid{
width:100%;
left:0;
}
.image_description a{
margin:5px 0 0 5px;
}
.image_description h2{
font-size:1em;
}
.image_description p{
font-size:0.8em;
}
section.contact p:before{
display:none;
}
section.contact p:after{
display:none;
}
section.contact p a:before{
display:none;
}
section.contact p a:after{
display:none;
}
section.contact h1 img{
width:50%;
}
section.about div.hasClasses div{
width:28%;
margin-bottom:80px;
}
section.about div.hasClasses div span{
font-size:0.6em;
}
section.about div.hasClasses span.bracket{
display:none;
}
section.about div.nextLine img{
width:50%;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
        box-shadow:0 1px 3px rgba(0,0,0,0.8);
}
section.about div.lastLine img{
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.8);
   -moz-box-shadow:0 1px 3px rgba(0,0,0,0.8);
        box-shadow:0 1px 3px rgba(0,0,0,0.8);
margin:2%;
width:50%;
}
section.main nav.project_navigation ul{
width:100%;
}
section.main nav.project_navigation ul li{
width:40%;
}
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print{
* {
        background:transparent !important;
color:#000 !important;
/* Black prints faster: h5bp.com/s */
/*box-shadow*/
-webkit-box-shadow:none !important;
   -moz-box-shadow:none !important;
        box-shadow:none !important;
text-shadow:none !important;
}
a,
    a:visited{
text-decoration:underline;
}
a[href]:after{
content:" (" attr(href) ")";
}
abbr[title]:after{
content:" (" attr(title) ")";
}
/*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after{
content:"";
}
pre,
    blockquote{
border:1px solid #999;
page-break-inside:avoid;
}
thead{
display:table-header-group;
/* h5bp.com/t */
:;
}
tr,
    img{
page-break-inside:avoid;
}
img{
max-width:100% !important;
}
@page{
margin: 0.5cm;
}
p,
    h2,
    h3{
orphans:3;
widows:3;
}
h2,
    h3{
page-break-after:avoid;
}
