/*Backgrounds*/
  body.bck_1{
    background: white;
  }
  body.bck_2{
    background: rgb(255,248,153);
  }
  body.bck_3{
    background: -webkit-radial-gradient(ellipse,silver,white);
    background: -moz-radial-gradient(ellipse,silver,white);
    text-shadow: 1px 1px 1px white;
  }
  body.bck_4{
    background: url('../images/diamond/style4_bck_white') repeat;
  }
  body.bck_5{
    background: url('../images/diamond/style4_bck_yellow') repeat;
  }
  body.bck_6{
    background: url('../images/diamond/style4_bck_skin') repeat;
  }
  body.bck_7{
    background: url('../images/diamond/style4_bck_peach') repeat;
  }
  body.bck_8{
    background: url('../images/diamond/style4_bck_red') repeat;
  }
  body.bck_9{
    background: url('../images/diamond/style4_bck_royalBlue') repeat;
  }
  body.bck_10{
    background: url('../images/diamond/style4_bck_electricBlue') repeat;
  }
  body.bck_11{
    background: url('../images/diamond/style4_bck_green') repeat;
  }
  body.bck_12{
    background: url('../images/diamond/style4_bck_lightBrown') repeat;
  }
  body.bck_13{
    background: url('../images/diamond/style4_bck_grey') repeat;
  }
  body.bck_14{
    background: url('../images/bck_swirl.png') repeat;
    background-size: 100%;
  }
  body.bck_15{
    background: url('../images/diamond/bck_black.jpg') repeat;
    background-size: 100%;
  }
  body.bck_16{
    background: url('../images/diamond/bck_blackSwirl.jpg') repeat;
    background-size: 100%;
  }

  body.bck_17{
    background: -moz-radial-gradient(45px 45px 45deg, circle cover, aqua 0%, rgba(0, 0, 255, 0) 100%, blue 95%);
    background: -webkit-radial-gradient(45px 45px 45deg, circle cover, aqua 0%, rgba(0, 0, 255, 0) 100%, blue 95%);
    text-shadow: 1px 1px 1px white;
  }
/*Backgrounds*/


/*Logos*/

  header.logo_0:before{
    background: black;
  }
  div.sidebar h1.logo img.logo_0{
    -webkit-filter: invert(100%);
  }
  div.holding_div.logo_0{
    background: black;
  }

  header.logo_1:before{
    background: whitesmoke;
  }
  div.holding_div.logo_1{
    background: whitesmoke;
  }

  header.logo_2:before{
    background: rgb(255,248,153);
  }
  div.holding_div.logo_2{
    background: rgb(255,248,153);
  }

  header.logo_3:before{
    background: rgb(242,102,77);
  }
  div.holding_div.logo_3{
    background: rgb(242,102,77);
  }

  header.logo_4:before{
    background: url('../images/diamond/diamond_bck_circle.jpg');
    background-size: 100%;
  }
  div.sidebar h1.logo img.logo_4{
    -webkit-filter: invert(100%);
  }

  header.logo_5:before{
    background: url('../images/diamond/diamond_bck_swirl_black.jpg');
    background-size: 100%;
  }
  div.sidebar h1.logo img.logo_5{
    -webkit-filter: invert(100%);
  }

  header.logo_6:before{
    background: url('../images/diamond/diamond_bck_swirl.jpg');
    background-size: 100%;
  }

  header.logo_7:before{
    background: url('../images/diamond/diamond_bck_dark.jpg');
    background-size: 100%;
  }

  header.logo_7:after{
    background: url('../images/diamond/diamond_bck_light.jpg');
    content:'';
    width:250px;
    height: 250px;
    transform: rotate(45deg);
    display:block;
    position: absolute;
    z-index: -1;
    top: 25px;
    left: 25px;
    box-shadow: 0 1px 6px black;
  }

  header.logo_8:before{
    background: white url('../images/diamond/bck_frame.png');
    background-size: 100%;
  }
  header.logo_8:after{
    background: white;
    content:'';
    width:275px;
    height: 275px;
    transform: rotate(45deg);
    display:block;
    position: absolute;
    z-index: -1;
    top: 12.5px;
    left: 12.5px;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
  }

  header.logo_9:before{
    background: white url('../images/diamond/bck_frame_dark.png');
    background-size: 100%;
  }
  header.logo_9:after{
    background: white;
    content:'';
    width:275px;
    height: 275px;
    transform: rotate(45deg);
    display:block;
    position: absolute;
    z-index: -1;
    top: 12.5px;
    left: 12.5px;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
  }

/*Logos*/