/*Options menu*/

section#options{
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  padding: 1% 1% 4% 1%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  border: none;
  pointer-events: hidden;
  transition: all 1s;
  z-index: -1;
}

section#options a{
  position: relative;
}

div.box_options{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  border-radius: 5px;
  overflow: scroll;
  transform: translateY(-3000px);
  transition: all 1s;
}

div.box_options.minimise{
  height: 10%;
  width: 50%;
  transition: all 1s;
}

div.box_options h1{
  float:left;
  width:70%;
  padding: 5px 0 10px 5px;

}

div.box_options button{
  float:right;
  width: 10%;
  border:none;
  border-radius: 20px;
  margin: 15px 5px 0 0;
  padding: 0.5px 0 1px;
  background-color: #4cc185;
  color: whitesmoke;
  cursor: pointer;
}

div.box_options button:nth-child(2){
  background-color: rgb(242,102,78);
}

nav.layouts{
  width: 100%;
  clear: both;
  text-align: center;
  padding: 15px 6% 0 6%;
  border-top: 1px solid rgb(137,137,137);
}

nav.layouts ul{
  position: relative;
  overflow: hidden;
}

nav.layouts ul h4{
  position: absolute;
  top: 190px;
  width: 100%;
  border-top: 1px solid rgb(137,137,137);
  border-bottom: 1px solid rgb(137,137,137);
  padding: 10px 0 15px 0;
  background: -webkit-radial-gradient(circle, white, transparent);
}

ul li.design{
  width: 22%;
  float: left;
  margin-right: 4%;
  margin-bottom: 20px;
}

ul li.design:last-child{
  margin-right: 0;
}

ul li.design img{
  width: 100%;
}

ul li.design ul{
  padding: 0 10% 0 10%;
  margin-top: 80px;
}

ul li.design ul li{
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

ul li.design ul li:before{
  display:block;
  padding: 5px 0;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #4cc185;
  width: 1px;
  height: 1px;
  margin: 0 auto;
  margin-top:15px;
}

ul li.design ul li a{
  display:block;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

ul li.design ul li a:hover{
  opacity: 0.5;
  transition: all 0.3s ease;
}

ul li.design ul li span{
  position: absolute;
  display:block;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  bottom: 0;
  border-top: 1px solid rgb(230,230,230);
}

ul li span.active:after{
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  background-color: #4cc185;
  border-radius: 10px;
  position: absolute;
  right: -2px;
  top: 17px;
}

ul li span.active:before{
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border: 2px solid rgba(255,255,255,0.8);
  border-radius: 10px;
  position: absolute;
  right: -5px;
  top: 13px;
  background: #4cc185;
  opacity:0.8;
}

.show{
  opacity: 1 !important;
  pointer-events: auto;
  z-index: 10 !important;
}

.margin{
  transform: translateY(0) !important;
  transition: all 1s;
}

/*Hide elements that are only applicable to other designs*/

ul.project_nav_second{
  display:none;
}

div.sidebar h1.logo:nth-child(2){
  display: none;
}

div.sidebar h1.logo:nth-child(3){
  display: none;
}

section.main div.megaman:nth-child(2){
  display:none;
}

section.main nav.project_navigation{
  display: none;
}

section.contact h1:nth-child(2){
  display:none;
}

section.about p:nth-child(2){
  display: none;
}

section.about div.lastLine p,section.about div.nextLine p {
  display: block;
}  

div.sidebar h4.portfolio:last-child{
  display: none;
}

nav.main li:first-child{
  display:none;
}

div.loading_div{
  margin: 20% 40%;
}



