/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* { 
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

html, body{
  height: 100%; /* IE6: treated as min-height*/
}

html,
button,
input,
select,
textarea {
    color: #363636;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Crimson Text', serif; 
    font-weight: 400;
    background: url('../images/diamond/style4_bck_white.jpg') repeat;
    color: #666;
}

a{
    text-decoration: none;
    color: #444;
}

li{
    list-style:none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.sidebar {
    transition: all 0.3s ease-in-out;
    width: 100%;
    text-align:center;
    padding-top: 150px;
}

div.side_shadow{
    display:none;
}

div.containing_circles{
    display:none;
}

header{
  width:300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

header:before{
  content:'';
  width:300px;
  height: 300px;
  transform: rotate(45deg);
  background-color: white;
  display:block;
  position: absolute;
  z-index: -2;
}

div.sidebar h1.logo:nth-child(1), div.sidebar h4.portfolio{
  display: none;
}

div.sidebar h1.logo:nth-child(3){
  display: block !important;
  width: 100%;
  position: absolute;
  bottom: 0;
}

div.sidebar h1.logo img{
  width: 100%;
}

h3.title:before{
  content: '*';
  width: 100%;
  display:block;
}

h3.title{
  position: absolute;
  font-weight: 400;
  width: 100%;
  bottom: 200px;
}

div.sidebar h4.portfolio:last-child{
  display: block !important;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-weight: 400;
  position: absolute;
  width:200%;
  padding-bottom:60px;
  bottom:0;
  left: -150px;
}

span.sub-title{
  display:none;
}

nav.main{
  width: 600px;
  font-size: 1.2em;
  line-height: 2em;
  text-align:center;
  margin:0 auto;
  border-top: 1px solid #999;
  transition: all 0.3s ease-in-out;
}
.active a{
  color: #04bff3 !important;
}

nav.main li{
  display:inline;
  transition: all 0.3s ease-in-out;
}

nav.main li:nth-child(2){
  padding-left: 15px;
}

nav.main li:nth-child(3){
  padding-left:40px;
  float: left;
}

nav.main li:nth-child(4){
  padding-right:40px;
  float: left;
  float: right;
}

nav.main li a{
  text-transform: lowercase;
  transition: all 0.6s;
  position: relative;
  color: #777;
}

nav.main li a:hover{
    color: #04bff3;
     text-decoration: underline;
     transition: all 0.6s;
}

div.sidebar.newPosition{
  margin-top: -190px;
  padding-top: 0;
}

div.sidebar.newPosition nav.main{
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
}

div.sidebar.newPosition h3.title{
  bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  padding-bottom:20px;
  left: -150px;
  text-align: left;
}

div.sidebar.newPosition h3.title:before{
  display:none;
}

div.sidebar.newPosition h4.portfolio:last-child{
  font-size: 0.7em;
  padding-bottom:20px;
  text-align: right;
}

div.sidebar.newPosition h1.logo:nth-child(3){
  bottom: -100px;
}


@keyframes fade {
     from { opacity: 0; }
     to   { opacity: 1; }
}


div.loading_div{
  width: 150px;
  height: 150px;
  margin:30% 44% !important;
  text-align: center;
  border-radius: 5px;
  background: white url(../images/loadinfo.net.gif) center center no-repeat;
  position: absolute;
  z-index:5;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-550px);
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.8);
  top: 0;
}

div.loading_div.test{
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease;
}

div.holding_div{
  width: 90%;
  position: relative;
  margin:0 auto;
  margin-top: 40px;
  background-color: white;
}

section{
    width: 100%;
    position: relative;
}

footer{
    bottom: 0;
    width: 30%;
    text-align:center;
    padding: 10px;
    border-top: 1px solid #999;
    margin: 0 auto;
    left: 35%;
    margin-top: 40px;
}

footer span:nth-child(3){
  font-weight: 700;
}

footer span:nth-child(4){
  font-style: italic;
  letter-spacing: 0.1em;
}

footer button{
    width: 10%;
}


/*Contact*/

section.contact:before{
  content: '';
  position: absolute;
  display: block;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid white;
  top: -15px;
  right: 27%;
}

section.contact h1{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

section.contact h1 img{
  width: 35%;
}

section.contact p{
  width: 100%;
  display:block;
  padding:5px;
  text-align: center;
  position: relative;
}

section.contact p a{
  width: 30%;
  display:block;
  margin:0 auto;
  padding:10px;
  margin-top: 20px;
  transition: all 0.3s ease;
  position: relative;
}

section.contact p a:hover{
  color: #04bff3;
  transition: all 0.3s ease;
}


/*Contact*/

/*About*/

section.about:after{
  content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

section.about:before{
  content: '';
  position: absolute;
  display: block;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid white;
  top: -15px;
  left: 48.5%;
}

section.about h1{
  font-style: italic;
  font-weight: 400;
}

section.about p{
  display:block;
  width: 100%;
  text-align: center;
}

section.about p img{
  width: 15%;
  margin-top:15px;
}

section.about div{
  width: 100%;
  padding: 2% 5%;
  position: relative;
  text-align:center;
}

section.about div.firstLine span{
  color: black;
}

section.about div.hasClasses{
  background-color:rgb(255,248,153);
  padding-bottom: 40px;
  border-top: 1px solid rgb(255,230,90);
  border-bottom: 1px solid rgb(255,230,90);
}

section.about div.hasClasses div{
  width: 12%;
  display:inline-block;
  padding:0;
}

section.about div.hasClasses div img{
  width: 100%;
  border-radius: 100px;
}

section.about div.hasClasses div span{
  position: absolute;
  display:block;
  width: 100%;
  bottom: -35px;
  padding:2px;
  font-size:1em;
  border-top: 1px dotted rgba(0,0,0,0.2);
}

section.about div.hasClasses div.plusSign{
  width: 3%;
  font-size: 3em ;
  font-weight: 700; 
  color: #999;
  display:inline-block;
}

section.about div.hasClasses span.bracket{
  font-size: 9em;
  position: absolute;
  top:-15%;
}

section.about div.nextLine, section.about div.lastLine{
  width: 50%;
  float:left;
}

section.about div.nextLine h1, section.about div.lastLine h1 {
  padding: 2%;
}

section.about div.nextLine img, section.about div.lastLine img{
  width:50%;
  border-radius: 5px;
}

section.about div.nextLine h3, section.about div.lastLine h3{
  padding-top: 2%;
}

section.about div.nextLine span:first-child, div.lastLine span:first-child{
  color: black;
}

section.about div.nextLine span, div.lastLine span{
  color: #444;
  font-weight: 400;
}


/*About*/

/*Home*/

div.megaman{
  display:none;
}

/*Home*/

/*Project Thumbs*/

nav.project_navigation{
    width: 100%;
    padding: 4% 4% 4% 4%;
    overflow: hidden;
    text-align: center;
}

nav.project_navigation ul li{
    width: 20%;
    display: inline-block;
    transition: opacity 0.6s;
    position: relative;
    margin-bottom: 30px;
}

.fadeProjectNav{
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
     filter: alpha(opacity=30);
     opacity: 0.3;
     transition: opacity 0.6s;
}

nav.project_navigation ul li img{
    width: 95%;
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.2);
}

nav.project_navigation ul li h4{
    font-weight: 300;
    padding: 5px 0;
    margin: 0 auto;
    position: absolute;
    width:100%;
}

/*Project page*/

section.project:before{
  content: '';
  position: absolute;
  display: block;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid white;
  top: -15px;
  left: 27%;
}

section.work:before{
  content: '';
  position: absolute;
  display: block;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid white;
  top: -15px;
  left: 27%;
}

.project_main{
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  padding-top: 10px;
  overflow: hidden;
}

div.main_image{
  width: 75%;
  perspective: 1000px;
  perspective-origin: 50% 25%;
  float:left;
  overflow: auto;
  text-align: center;

}

.main_image img{
  transition: all 0.3s ease;
  transform-style: preserve-3d;
  max-width: 100%;
  padding: 0 2% 2% 2%;
}

.thumb_grid{
  position: absolute;
  width: 70%;
  left: 0;
  z-index: 1000;
  top: 0;
  opacity: 0;
  pointer-events: none;
  margin-top: 20px;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  transform: translateZ(-350px);
}

.thumb_grid a{
  width: 25%;
  position: relative;
  float: left;
  padding: 15px;
  border-radius:5px;
  transition: 0.3s all ease;
}

.thumb_grid a:hover{
  background-color: rgba(240,109,48,0.4);
  transition: 0.3s all ease;
}

.thumb_grid img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.8);
}

.image_description{
  display:none;
}

.image_description_two{
  display:block !important;
  width: 25%;
  margin: 0 auto;
  border-left: 1px solid rgba(0,0,0,0.2);
  padding-top: 20px;
  padding-bottom: 30px;
  float: right;
}

.image_description_two h4{
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 0;
  border-bottom: 1px dotted rgba(0,0,0,0.2);
  font-size: 0.8em;
  background-image: url('../images/bck_texture.png') repeat;
}

.image_description_two h2{
  font-weight: 400;
  padding: 10px 0;
  border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.image_description_two h2:nth-child(4){
  font-style: italic;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.image_description_two p{
  padding: 5px 7px 10px 7px;
  text-align: left;
}

.image_description_two p:last-child{
  padding: 10px 0;
  text-align: center;
  background-color:rgb(255,248,153);
}

.image_description_two a{
  display: block;
  float: left;
  width:25px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid #444;
  margin: -2px 0 0 5px;
  background-color: rgba(76,193,133,0);
  position: relative;
  transition: 0.3s all ease;
}

.image_description_two a:before{
  position: absolute;
  content: '';
  display:block;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0,0,0,0.6);
  opacity: 0;
  top: -15px;
}

.image_description_two a:after{
  position: absolute;
  content: 'Back to projects';
  display:block;
  background: rgba(0,0,0,0.6);
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
  top: -69px;
  left: -20px;
  opacity: 0;
  color:whitesmoke;
}

.image_description_two a:hover{
  background-color: rgba(76,193,133,1);
  transition: 0.3s all ease;
}

.image_description_two a:hover:before, a:hover:after{
  opacity: 1;
}

.project_main.grid_view .main_image img{
  transform: translateZ(-350px);
  opacity: .6;
}

.project_main.grid_view .thumb_grid{
  transform: translateZ(0px);
  opacity: 1;
  pointer-events: auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-height: 530px) {
  div.sidebar{
    padding-top: 70px;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 768px)  {
  footer{
    width: 100%;
    font-size:0.8em;
  }

  nav.main{
    width:100%;
  }

  header, header:before{
    width:200px;
    height: 200px;
  }

  div.sidebar{
    font-size: 0.8em;
    padding-top: 70px;
    transition: all 0.3s ease-in-out;
  }

  h3.title{
    bottom: 150px;
  }

  div.sidebar h4.portfolio:last-child{
    width:150%;
    left:-25%;
    padding-bottom: 30px;
  }

  div.sidebar.newPosition{
    margin-top: -160px;
    position: relative;
  }

  div.sidebar.newPosition header{
    position: static;
  }

  div.sidebar.newPosition h4.portfolio:last-child{
    padding:0 10px 10px 0;
    left: 0;
    width: 100%;
    top: 180px;
    letter-spacing: 0.1em;
  }

  div.sidebar.newPosition h3.title{
    left:0;
    padding:0 0 10px 10px;
    top:180px;
  }

  div.sidebar.newPosition h1.logo:nth-child(3){
    bottom:15px;
    left: 0;
  }

  div.sidebar.newPosition h1.logo:nth-child(3) img{
    width: 100px;
  }

  section.about p img{
    width: 35%;
  }

  section.about div.hasClasses span.bracket{
    display:none;
  }

  section.about div.hasClasses div{
    width: 30%;
    margin-bottom:50px;
  }

  section.about div.hasClasses div.plusSign{
    font-size:1em;
  }

  section.about div.nextLine img, section.about div.lastLine img{
    width: 100%;
  }

  section.contact h1 img{
    width: 65%;
  }

  nav.project_navigation ul li{
    width: 40%;
  }

  div.main_image{
    width:100%;
  }

  .image_description_two{
    width: 100%;
    border-left: none;
  }

  .thumb_grid{
    width: 100%;
  }
  div.holding_div{
    width: 98%;
  }

  div.sidebar header[class*="logo"]:after {
    display:none;
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*Backgrounds*/
  body.bck_1{
    background: white;
  }
  body.bck_2{
    background: rgb(255,248,153);
  }
  body.bck_3{
    background: -webkit-radial-gradient(ellipse,silver,white);
    background: -moz-radial-gradient(ellipse,silver,white);
    text-shadow: 1px 1px 1px white;
  }
  body.bck_4{
    background: url('../images/diamond/style4_bck_white') repeat;
  }
  body.bck_5{
    background: url('../images/diamond/style4_bck_yellow') repeat;
  }
  body.bck_6{
    background: url('../images/diamond/style4_bck_skin') repeat;
  }
  body.bck_7{
    background: url('../images/diamond/style4_bck_peach') repeat;
  }
  body.bck_8{
    background: url('../images/diamond/style4_bck_red') repeat;
  }
  body.bck_9{
    background: url('../images/diamond/style4_bck_royalBlue') repeat;
  }
  body.bck_10{
    background: url('../images/diamond/style4_bck_electricBlue') repeat;
  }
  body.bck_11{
    background: url('../images/diamond/style4_bck_green') repeat;
  }
  body.bck_12{
    background: url('../images/diamond/style4_bck_lightBrown') repeat;
  }
  body.bck_13{
    background: url('../images/diamond/style4_bck_grey') repeat;
  }
  body.bck_14{
    background: url('../images/bck_swirl.png') repeat;
    background-size: 100%;
  }
  body.bck_15{
    background: url('../images/diamond/bck_black.jpg') repeat;
    background-size: 100%;
  }
  body.bck_16{
    background: url('../images/diamond/bck_blackSwirl.jpg') repeat;
    background-size: 100%;
  }

  body.bck_17{
    background: -moz-radial-gradient(45px 45px 45deg, circle cover, aqua 0%, rgba(0, 0, 255, 0) 100%, blue 95%);
    background: -webkit-radial-gradient(45px 45px, circle cover, aqua 0%, rgba(0, 0, 255, 0) 100%, blue 95%);
    text-shadow: 1px 1px 1px white;
  }
/*Backgrounds*/


/*Logos*/

  header.logo_0:before{
    background: black;
  }
  div.sidebar h1.logo img.logo_0{
    -webkit-filter: invert(100%);
  }
  div.holding_div.logo_0{
    background: black;
  }

  header.logo_1:before{
    background: whitesmoke;
  }
  div.holding_div.logo_1{
    background: whitesmoke;
  }

  header.logo_2:before{
    background: rgb(255,248,153);
  }
  div.holding_div.logo_2{
    background: rgb(255,248,153);
  }

  header.logo_3:before{
    background: rgb(242,102,77);
  }
  div.holding_div.logo_3{
    background: rgb(242,102,77);
  }

  header.logo_4:before{
    background: url('../images/diamond/diamond_bck_circle.jpg');
    background-size: 100%;
  }
  div.sidebar h1.logo img.logo_4{
    -webkit-filter: invert(100%);
  }

  header.logo_5:before{
    background: url('../images/diamond/diamond_bck_swirl_black.jpg');
    background-size: 100%;
  }
  div.sidebar h1.logo img.logo_5{
    -webkit-filter: invert(100%);
  }

  header.logo_6:before{
    background: url('../images/diamond/diamond_bck_swirl.jpg');
    background-size: 100%;
  }

  header.logo_7:before{
    background: url('../images/diamond/diamond_bck_dark.jpg');
    background-size: 100%;
  }

  header.logo_7:after{
    background: url('../images/diamond/diamond_bck_light.jpg');
    content:'';
    width:250px;
    height: 250px;
    transform: rotate(45deg);
    display:block;
    position: absolute;
    z-index: -1;
    top: 25px;
    left: 25px;
    box-shadow: 0 1px 6px black;
  }

  header.logo_8:before{
    background: white url('../images/diamond/bck_frame.png');
    background-size: 100%;
  }
  header.logo_8:after{
    background: white;
    content:'';
    width:275px;
    height: 275px;
    transform: rotate(45deg);
    display:block;
    position: absolute;
    z-index: -1;
    top: 12.5px;
    left: 12.5px;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
  }

  header.logo_9:before{
    background: white url('../images/diamond/bck_frame_dark.png');
    background-size: 100%;
  }
  header.logo_9:after{
    background: white;
    content:'';
    width:275px;
    height: 275px;
    transform: rotate(45deg);
    display:block;
    position: absolute;
    z-index: -1;
    top: 12.5px;
    left: 12.5px;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
  }

/*Logos*/